{% extends "pages/base.html" %}

{% block title %} Tambolu - Fashion for everyone {% endblock %}

{% block content %}
<style>
  [class^="payment-table"]{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #292727;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.item-header{
    background-color: #6c7ae0;
    color: white;
}

.id-order{
    color: #2788CD;
}

.table-footer{
    color: white;
    background-color: #6c7ae0;
}
[colspan="3"] {
  font-size:20px;
  color:rgb(219, 243, 6);
}

footer {
  margin-top: 1em;
}
</style>
  <div class="container pt-5 mt-5 mb-3">
    <h1 style="font-family: Arial, Helvetica, sans-serif;">Lịch sử mua hàng</h1>
  </div>
  {% for order in order_code %}
  <div class="container mb-5">
    <h4 class="font-family: Arial, Helvetica, sans-serif;" value="{{order.order_code}}" name="order">Mã đơn hàng: #{{order.order_code}}</h4>
    <div><small>Tên người đặt hàng: {{order.name}}</small></div>
    <div><small>Ngày đặt hàng: {{order.date}}</small></div>
    <table class="payment-table-{{order.order_code}}">
     
        <tr>
          <th class="item-header">Tên sản phẩm</th>
          <th class="item-header">Thuộc tính sản phẩm</th>
          <th class="item-header">Số lượng</th>
          <th class="item-header">Đơn giá</th>
        </tr> 
        {% for item in cart %}
        {% if item.order == order.order_code %}
        <tr class="row-highlight records">
          <td>{{item.product_id.title}}</td>
          <td>{{item.product_attr}}</td>
          <td id="amount">{{item.count}}</td>
          <td id="price">{{item.product_id.price}}</td>
        </tr>
        {% endif %}
        {% endfor %}
        <tfoot class="table-footer">
            <tr class="row-highlight">
                <td style="font-weight: bold;">
                    Total
                </td>
                <td></td>
                <td colspan="3">Tổng tiền: <span id="total-table"></span></td>
            </tr>
        </tfoot>
       
    </table>
  </div>

{% endfor %}
{% endblock %}