{% extends "pages/base.html" %}

{% block title %} Tambolu's Products {% endblock %}

{% block content %}
<section class="bg0 p-t-23 p-b-140 mt-5 pt-5">
    <div class="container">
        <div class="p-b-10">
            <h3 class="ltext-103 cl5">
                SẢN PHẨM 
            </h3>
        </div>

        <div class="flex-w flex-sb-m p-b-52">
            <div class="flex-w flex-l-m filter-tope-group m-tb-10">
                <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1" data-filter="*">
                    Tất Cả
                </button>

                <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".women">
                    Quần-áo Nữ
                </button>

                <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".men">
                    Quần-áo Nam
                </button>

                <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".bag">
                    Balo
                </button>

                <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".shoes">
                    Túi xách
                </button>

                <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".watches">
                    Giày
                </button>
            </div>
        </div>

        <div class="row isotope-grid">
            {% load static %}
           
            {% for item in prod %}
            <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item {{item.type_product}}">
               
                <div class="block2" id= "prod">
                    <div class="block2-pic hov-img0">
                        
                        <img src="{{item.product_image}}" alt="IMG-PRODUCT">

                     
                    </div>

                    <div class="block2-txt flex-w flex-t p-t-14">
                        <div class="block2-txt-child1 flex-col-l ">
                            <a href="/product-detail/{{item.id}}" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                {{item.title}}
                            </a>

                            <span class="stext-105 cl3">
                                {{item.price}}
                            </span>
                        </div>

                        <div class="block2-txt-child2 flex-r p-t-3">
                            <a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
                                <img class="icon-heart1 dis-block trans-04" src="/static/images/icons/icon-heart-01.png" alt="ICON">
                                <img class="icon-heart2 dis-block trans-04 ab-t-l" src="/static/images/icons/icon-heart-02.png" alt="ICON">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

           
            
        </div> 
        <!-- Load more -->
            <div class="flex-c-m flex-w w-full p-t-45 position-relative">
                <a href="#" class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04">
                    XEM THÊM
                </a>
            </div>
</section>

{% endblock %}